name: Build, upload release

#on: 
#        create
##       push:
##                branches:
##                        - main
#jobs:
#        release:
#                name: Build and release
#                runs-on: ubuntu-latest
#                steps:
#                        - name: Checkout code
#                          uses: actions/checkout@v2
#                        - name: Build project
#                          run: cargo build --release --locked 
#                          # update version/tag?
#                        - name: Upload binary to release
#                          uses: svenstaro/upload-release-action@v1-release
#                          with: repo-token: ${{ secrets.GITHUB_TOKEN }}
#                          file: target/release/*
#                          asset_name: problem_generator-linux-amd64 # meerdere files?
#                          tag: ${{ 
      
on: 
        push: 
                tags:
                        - "v*"

jobs: 
        release:
                name: Build and release
                runs-on: ${{ matrix.os }}
                strategy:
                        matrix:
                                include:
                                        - os: ubuntu-latest
                                          artifact_name: problem_generator
                                          asset_name: problem-generator-linux-amd64
                                        - os: macos-latest
                                          artifact_name: problem_generator
                                          asset_name: problem-generator-macos-amd64
                                        - os: windows-latest
                                          artifact_name: problem_generator.exe
                                          asset_name: problem-generator-windows-amd64.exe
                steps:
                        - name: Checkout code
                          uses: actions/checkout@v2
                        - name: Update Cargo
                          run: cargo update
                        - name: Build project
                          run: cargo build --release --locked
                        - name: Get the version
                          id: get_version
                          run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
                          shell: bash
                        - name: Upload binary to release
                          uses: svenstaro/upload-release-action@v1-release
                          with: 
                                repo_token: ${{ secrets.GITHUB_TOKEN }}
                                file: target/release/${{ matrix.artifact_name }}
                                asset_name: ${{ matrix.asset_name }}
                                tag: ${{ steps.get_version.outputs.VERSION }}
